coverage==7.6.9
fastapi
# commands
invoke==2.2.0

# docs
mkdocs==1.5.3

# docs
mkdocs-material==9.4.6
mkdocstrings-python==1.12.2

# pre-commit
pre-commit==3.5.0

# testing
pytest==7.4.3
python-multipart

# linting
ruff==0.9.5

#app
uvicorn
streamlit
